/* Basic */

.slide h2 {
    margin-top: 0;
    margin-bottom: 34px;
    color: #333;
    font: bold 40px 'Rubik', sans-serif;
    text-transform: uppercase;
}

.slide p {
    margin-top: 0;
    margin-bottom: 1em;
}

.slide p.note {
    color: var(--color-grey);
}

.slide figure {
    margin: 0;
}
