/* Shower */

@import 'shower-list.css' screen;
@import 'shower-full.css' screen;
@import 'shower-grid.css' screen;
@import 'shower-print.css' print;

.shower {
    --slide-gap: 100px;
    --slide-ratio: calc(16 / 9);
    --slide-width: 960px;
    --slide-height: calc(var(--slide-width) / var(--slide-ratio));

    --color-blue: #4b86c2;
    --color-red: #cc0000;
    --color-yellow: #fafaa2;
    --color-grey: #585a5e;
    --color-fill: rgba(88, 90, 94, 0.1);
    --color-line: rgba(88, 90, 94, 0.5);

    --ribbon-size: 50px;
    --progress-size: 10px;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;

    margin: 0;
    color: black;
    counter-reset: slide;
    font: 18pt/1.3 'Rubik', sans-serif;
}
